.drawer-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.info-section {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}

.info-icon {
    margin-right: 8px;
    color: #31274f;
    font-size: 16px;
}

.info-label {
    font-weight: bold;
    color: #31274f;
    margin-right: 8px;
}

.info-value {
    color: #888;
    margin-left: auto;
}

.drawer-content .edit-button.ant-btn {
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.drawer-content .edit-button.ant-btn:hover {
    background-color: #4dbbff;
    border-color: #4dbbff;
    color: white;
}

.drawer-content .logout-button.ant-btn{
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.drawer-content .logout-button.ant-btn:hover {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    color: white;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
