.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
}

.table-container {
    margin-top: 10px; 
}

.add-button {
    width: auto; 
    background-color: #1b8e20;
    border-color: #1b8e20;
    color: #fff;
    transition: background-color 0.3s ease;
}

.edit-button {
    width: auto;
    background-color: #1890ff;
    border-color: #1890ff;
    color: #fff;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.delete-button {
    width: auto;
    background-color: #d90909;
    border-color: #d90909;
    color: #fff;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
.color-container {
    background-color: #ffffff;
}